.nav {
	ul {
		display: flex;

		li {
			margin-right: 20px;

			a {
				font-size: 22px;
				text-decoration: none;
				color: black;
				transition: 0.25s;

				&:hover {
					opacity: 0.6;
				}

				@media (max-width: 375px) {
					font-size: 18px;
				}
			}
		}
	}
}
